
:root {
  --primary-color: #16a085;
  --secondary-color: #1abc9c;
  --four:#112B3C  ;
  --orange2:#E04D01;
  --black: #2c3e50    ;
  --white: #ecf0f1;
  --gray: #efefef;
  --gray-2: #757575;

  --facebook-color: #4267B2;
  --google-color: #DB4437;
  --twitter-color: #1DA1F2;
  --insta-color: #E1306C;
  --linkedin: #0072b1;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
	padding: 0;
	margin: 0;
    box-sizing: border-box;
}
.topnav {
    overflow: hidden;
    background-color: var(--primary-color);
  }
  .topnav a {
    float: left;
    display: block;
    color: var(--white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .topnav a:hover {
    background-color: var(--secondary-color);
  }

.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
    margin: 0 auto;
  }
  
  .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  .price .header {
   /* background-color: #111;
    */
    background-image: url(backb.png);
    background-size: 150px 80px; 
    color: white;
    font-size: 25px;
  }
  
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }
  
  .price .grey {
    background-color: #eee;
    font-size: 20px;
  }
  
  .button {
    background-color: var(--primary-color);
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
  .button:hover
  {
      background-color: var(--secondary-color);
  }
  .container{
      width: 100%;
  }
  .what
  {
    padding-top: 20px ;
    font: 2em sans-serif;
    font-weight: bold;
    text-align:center;  
    background-color: white ;
  }
  .what:after
 { position: absolute;
  content: '';
  z-index: 100;
  height: 3px;
  margin: 0 auto;
    left: 0;
  right: 0;
  top: 105px;
    width: 20%;
    background: var(--primary-color);
}

  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .branch
  {
      margin-top: 20px;
  }
  /* Float four columns side by side */
  .column{
    float: left;
    width: 25%;
    padding: 0 10px;
    height: 200px;
  }
  .card {
    min-height: 193px;
    overflow: hidden;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
 .price #sp
  {
    background-image: none;
    background-color:var(--secondary-color);
  }
  #p1
  {
      background-color: var(--gray);
      color: var(--black);
  }
  #p2{
      background-color: var(--gray-2);
  }
  #p3{
      background-color: var(--secondary-color);
      color: var(--white);
  }
  #p4{
    background-color: var(--primary-color);
    color: var(--white);
}
footer .link
{
    text-decoration: none;
    color: #16a085;
}
footer .link:hover
{
    color: #1abc9c;
}
.footer {
  width: 100%;
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
    }
    .fadyy{
    height: 480px;
    }
  @media screen and (max-width: 1200px) {
    .column{
    float: left;
    width: 25%;
    padding: 0 10px;
    height: 270px;
  }
  .card {
    min-height: 250px;
    overflow: hidden;
  }
}  @media screen and (max-width: 860px) {
    .column{
    float: left;
    width: 25%;
    padding: 0 10px;
    height: 360px;
  }
  .card {
    min-height: 330px;
    overflow: hidden;
  }
}
  /* Responsive columns */

  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }




  @media only screen and (max-width: 700px) {
    .columns {
      width: 100%;
    }
    .fadyy{
      height: 1320px;
      }
        .topnav a {
          float: none;
          width: 100%;
        }
        .column {
            width: 100%;
            display: block;
            margin-bottom: 20px;
          }
          .what:after
          { position: absolute;
           content: '';
           z-index: 100;
           height: 3px;
           margin: 0 auto;
             left: 0;
           right: 0;
           top: 385px;
             width: 30%;
             background: var(--primary-color);
         }

  }
  @media only screen and (max-width: 240px) {
    .what:after
    { display: none;
   }
}    
